  <mat-toolbar color="primary">
    <span class="title" class="titulologin">Bem vindo ao victor-app</span>
  </mat-toolbar>

<html>
<body>


   <p><img src="../../../../assets/images/Paper-notes.svg.png" height="300" width="300"/></p>


<div>
  <mat-card-content class="text">
    <h3> Faça Login : </h3>
  </mat-card-content>

</div>

<mat-card class="card">

  <div class="buttonGoogle">
    <button mat-stroked-button color="green" style="color: white" (click)="signinGoogle()">ENTRE COM SUA CONTA GOOGLE
    </button>
  </div>


</mat-card>



</body>
</html>
