<div class="mat-app-background">
  <mat-toolbar color="primary">
    <span class="title">NOTAS do {{title}}</span>
    <span class="espaço"></span>
    <button mat-flat-button color="warn" class="buttonsignout" type="submit"
            *ngIf="authenticationService.user | async" (click)="signout()">SAIR
    </button>
  </mat-toolbar>
</div>

<app-add-tarefa></app-add-tarefa>



<mat-grid-list rowHeight=400px cols="4">
  <mat-grid-tile *ngFor="let tarefa of tarefas$ | async">
    <app-tarefa-card [tarefa]="tarefa"></app-tarefa-card>
  </mat-grid-tile>
</mat-grid-list>


